name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Chequeo de codigo, test y notificaciones de Slack
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }} #No anda con esta version 20.x

      - name: Install dependencies
        run: npm install
           
      - name: Run tests
        run: npx test -- --verbose # Añadir la opción --verbose para más detalles

      - name: Notificar al Slack que salio bien
        if: success()
        uses: 8398a7/action-slack@v3
        with:
          icon_emoji: ":white_check_mark:"
          text: ":white_check_mark: Test pasados con exito!"
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Notificar al Slack que salio mal
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          text: ":no_entry: No se lograron pasar los test"
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
